body{
    background: #2C3A47;
    margin-top:0px;
}

/*-------------------- clock */

.js-title{
    margin-bottom:0px;
    
}
.js-form input {
    background:transparent;
    border:none;
    font: small-caps bold 40px sans-serif;
    text-align:center;
    color:#fff;
    text-shadow:1px 1px #000;
    animation: fadeIn 1s;
    animation-delay:0.3s;
    animation-fill-mode: forwards;
    opacity:0;
}
.js-toDoForm input {
    background:transparent;
    
    border-bottom: white 1px solid;
    border-top: medium none;
    border-right: medium none;
    border-left:medium none;

    font-family: sans-serif;
    font-size: 17px;
    font-weight:bold;
    text-align:center;
    color:white;
    animation: fadeIn 1s;
    animation-delay:0.8s;
    animation-fill-mode: forwards;
    opacity:0;
    
}
input::placeholder{
    color:rgb(212, 212, 212);
    text-shadow:1px 1px 2px  #000;
}
.greetings{
    font: small-caps bold 40px sans-serif;
    color:#fff;
    text-shadow:2px 2px 3px #000;
    margin-top:0px;
    margin-bottom:0px;
    animation: fadeIn 1s;
    animation-delay:0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  
}
h1{
    color:#ffffff;
    transition:color 0.5s ease-in-out;
    font:6em "Fira Sans", sans-serif;
    font-weight: bold;
    text-align:center;
    text-shadow: 2px 2px 2px #000;
    
}

.clicked{
    color:#7f8c8d;
}

.btn{
    cursor:pointer;
}


.form,
.greetings,
.js-toDoForm {
    text-align: center;
    display:none;
}
.js-toDoForm{
    text-align: center;
}
.showing {
    display: block;
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index:-1;
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* -------------todolist */
.js-toDoList {
    width:300px;
    margin-left:auto;
    margin-right:auto;
    list-style-type: square;
    color:white;
    font-family:sans-serif;
    font-size:12pt;
    animation: fadeIn 1s;
    animation-delay:1.3s;
    animation-fill-mode: forwards;
    opacity:0;
}
.js-toDoList button {
    background : transparent;
    border:none;
}
/*------------weather & location */
.js-weather{
    text-align:right;
    margin-bottom:180px;
    margin-top:10px;
    color:white;
    font-size:13pt;
}